{# Import macros #}
{% import "components/icons" as icons %}

{% extends 'layouts/base' %}
{% block subtitle %}{{ meta.title }}{% endblock subtitle %}
{% block meta %}
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="{{ meta.title }}">
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{ meta.description }}">
    <meta property="og:url" content="{{ 'post/' ~ meta.slug | url }}">
    <!-- Twitter -->
    <meta name="twitter:title" content="{{ meta.title }}">
    <meta name="twitter:description" content="{{ meta.description }}">
{% endblock meta %}
{% block content %}
    <div class="container p-4 md:p-8">
        <article class="prose prose-neutral dark:prose-invert mx-auto">
            {{ content | safe }}
        </article>
        <div class="flex justify-between mt-4">
            {% if meta.tags %}
            <span class="text-neutral-600 dark:text-neutral-400 font-serif italic">
                {%- for tag in meta.tags -%}
                    {{- buttons::tag(link="/tag/" ~ tag, label=tag) -}}
                    {%- if not loop.last -%}
                        <span class="">, </span>
                    {%- endif -%}
                {%- endfor -%}
            </span>
            {% endif %}
            <p class="text-neutral-600 dark:text-neutral-400 text-right font-serif">
                <i>Written on {{ meta.date }}</i>
            </p>
        </div>
    </div>
{% endblock content %}