{# Import macros #}
{% import "components/icons" as icons %}
{% import "components/buttons" as buttons %}

{% extends 'layouts/base' %}
{% block content %}
    <div class="container flex flex-col items-stretch gap-4 my-8">
        <h1 class="flex gap-4 w-3/4 md:w-2/3 mx-auto items-end">
            <span class="text-right basis-1/4 text-neutral-600 dark:text-neutral-400 font-serif">Posts tagged with</span>
            <span class="flex-1 text-4xl">
                {{ tag }}
            </span>
        </h1>
        {% if not posts %}
            <p class="text-lg p-4 text-center">No posts for this tag</p>
        {% endif %}
        {% for post in posts %}
            <div class="flex flex-col-reverse sm:flex-row gap-4 w-3/4 md:w-2/3 mx-auto items-start">
                <p class="text-neutral-600 dark:text-neutral-400 text-right basis-1/4 font-serif">
                    {{ post.1.meta.date }}
                </p>
                <p class="flex-1 text-lg">
                    {{ buttons::link(link="/post/" ~ post.0, label=post.1.meta.title) }}
                    <span class="w-4 h-[1px] inline-block align-middle bg-black dark:bg-white"></span>
                    {{ post.1.meta.description }}
                    {% if post.1.meta.tags %}
                        <span class="text-neutral-700 dark:text-neutral-300 block font-serif italic">
                            {%- for tag in post.1.meta.tags -%}
                                {{- buttons::tag(link="/tag/" ~ tag, label=tag) -}}
                                {%- if not loop.last -%}
                                    <span class="">, </span>
                                {%- endif -%}
                            {%- endfor -%}
                        </span>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}